<div>
    <table class="table">
        <thead>
            <app-header [headers]="options.headers" [SortDirections]="sorted" [options]="options" (TriggerSort)="sort($event)"></app-header>
        </thead>
        <tbody>
            <app-body [data]="page" [options]="options" [PageNumber]="pageNumber" (ActionEmitter)="commitAction($event)"></app-body>
        </tbody>
    </table>
    <app-paginator [NumberOfPages]="NofPages" *ngIf="options.pagination" (PageNavigate)="DisplayPage($event)"></app-paginator>
    <button (click)="deleteSelected()" *ngIf="options.selection">
            Delete selected
    </button>
</div>