<div>
    <table class="table table-striped">
        <thead app-header (EmitAction)="EmitActionToUser($event)" [selectedObjects]="selectedObjects" [headers]="options.headers" [AllSelected]="AllSelected" [SortDirections]="sorted" (TriggerSelectAll)="SelectAll($event)" [options]="options" (TriggerSort)="Sort($event)">

        </thead>
        <tbody app-body [data]="page" [options]="options" [selectedObjects]="selectedObjects" (ItemSelected)="ItemSelected($event)" [PageNumber]="pageNumber" (ActionEmitter)="commitAction($event)">

        </tbody>
    </table>
    <app-paginator [NumberOfPages]="NofPages" *ngIf="options.pagination.paging" (PageNavigate)="DisplayPage($event)"></app-paginator>

</div>