<tr>
    <th *ngIf="options.selection" [ngStyle]="{display:options.selection?'table-cell':'none'}">Select</th>
    <th *ngFor="let header of headers let i = index ">
        <span *ngIf="header.sortable" (click)="ColumnClicked(header.name)">
            {{header.name | translate}}
            <i appRenderIcons [SortedColName]="SortDirections.colName" [Direction]="SortDirections.direction" [CurrentColumnName]="header.name"></i>     
        </span>
        <span *ngIf="!header.sortable">
            {{header.name | translate}}
        </span>
    </th>
    <th>
        {{'Actions' | translate}}
    </th>

</tr>