<tr *ngFor="let row of data">
    <td>
        <input type="checkbox" (change)="ToggleCheckBox($event,row.id)" [checked]="isSelected(row.id)" [id]="row[options.uniqueField]" />
    </td>
    <td *ngFor="let item of row|keyvalue:returnZeroToPreventSort let i = index">
        <img src="/images/cover.png" *ngIf="options.headers[i].dataType == 'image'" style="width:50px;height:50px" />
        <span *ngIf="options.headers[i].dataType != 'image'">{{item.value}}</span>

    </td>
    <td>
        <label class="switch">
                    <input type="checkbox"  [checked]="options.ToggleRule(row)" (change)="toggleChanged($event,row[options.uniqueField])">
                    <span class="slider round"></span>
            </label>
    </td>
    <td>
        <button *ngFor="let Action of options.Actions" [disabled]="!Action.Rule(row)" (click)="commitAction(Action.Name,row[options.uniqueField])">{{Action.Name}}</button>
    </td>
</tr>

<div> displaying page No. {{PageNumber+1}}</div>