<tr *ngFor="let row of data">
    <td>
        <input type="checkbox" (change)="ToggleCheckBox($event,row.id)" [checked]="isSelected(row.id)" [id]="row.id" />
    </td>
    <td *ngFor="let item of row|keyvalue:returnZeroToPreventSort let i = index">
        {{item.value}}
    </td>
    <td>
        <label class="switch">
                    <input type="checkbox" >
                    <span class="slider round"></span>
            </label>
    </td>
    <td>
        <button *ngFor="let Action of options.Actions" [disabled]="!Action.Rule(row)" (click)="commitAction(Action.Name,row.id)">{{Action.Name}}</button>
    </td>
</tr>

<div> displaying page No. {{PageNumber+1}}</div>